
body{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   justify-content: center;
}

h1{
    color: black;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 1.7em;
    margin: 1.2em 0;
    font-weight: 200em;

    display:flex;
    justify-content: center;
    
}
h1 span {
    padding: 0.75em;
    display:block;
}

/* nav */

nav ul {
    list-style: none;
    padding: 0em;
    display: flex;
    justify-content: space-around;
    font-size: 1em;
    text-transform: uppercase;
}
nav li {
    margin: em 0;
}
nav li a{
    display:block;
    color: grey;
    
}
nav li a:hover {
    color:black;
}

a{
    text-decoration: none;
    
}

#newcollection{
    background-image: url(afbeeldingen/kettingenzondertekst.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50em;
}

#newcollection h2{
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

h2{
    display: flex;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 400;
}

p{
    font-weight: lighter;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 1em;
}

#new_arrivals{
    justify-content: center;
    list-style: none;
    padding: 0em;
    font-weight: lighter;
}

#new_arrivals img{
    height: 14em;
    width: 21em;
    padding: 0.9em;
    justify-content: space-around;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

h3{
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;

}

h4{
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 0.2em;
}

#footer{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    padding: 0em;
    background-color:#121212;
    padding: 1.5em
}  

h5{
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white
}

#footer a{
    color: #dbdbdb;
}

#footer p{
    color: #dbdbdb;
}

#Sieraden{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    padding: 0em;
    font-weight: lighter;
}

#Sieraden img{
    height: 13em;
    width: 20em;
    padding: 1.5em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#rainbowhoops img {
    height: 25em;
    width: 34em;
    float: left;
    margin-left: 4em;
    padding: 5em;
}

#rainbowhoops h2 {
   text-align: left;
    margin-right: 4em;
    padding: 5em;
    font-weight: 100;
}

.producten{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    padding: 0em;
    font-weight: lighter;
}

.producten img{
    height: 13em;
    width: 20em;
    padding: 1.5em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:60em) {

    #new_arrivals{
        display: flex;
    }

    .producten{
        display: flex;
    }
}